<div class="wrapper">
    <header class="header">
        <div class="searchDiv">
        Search Bar
        </div>

    </header>

    <div class="left">
        <div class="listDiv">
        Locations List
        </div>

    </div>
    
    <div class="center">
        <div class="agm-map">
            Google Maps Box
        </div>
    </div>
    
    <div class="right">
        <div class="outputDiv">
        Output Console
        </div>

    </div>
    
    <div class="footer">
        <div class="timelineDiv">
            Interactive Timeline
        </div>
        
    </div>
</div>
