<div class = "centered">
    <header class="header">About the Project</header>
    <main class="main">
        <h4>Inspiration</h4>
        <article class="article">
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
        </article>
        <br>
        <h4>Proof of Concept</h4>
        <article class="article">
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
        </article>
        <br>
        <h4>Tech Specs</h4>
        <article class="article">
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
            This is an article. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem pariatur saepe tempore, eligendi quo tenetur, 
            debitis quam aut ex harum ipsum esse necessitatibus laudantium sapiente quod quisquam aliquid. Error, tenetur!
        </article>
    </main>
</div>
